---
import ArrowBackLink from '@components/ArrowBackLink.astro';
import Layout from '@layouts/Layout.astro';
import LineSeparator from '@components/LineSeparator.astro';
---

<Layout title="Works | ">
  <div class="contents l-sp-inner l-pc-inner l-in u-pt-sp-62 u-pt-pc-100 u-mt-pc-23 u-pb-pc-150 u-pb-sp-106" data-barba="container" data-barba-namespace="works">
    <div id="v-works">
      <div class="l-in__header">
        <ArrowBackLink
          href='/'
          text='Back'
          class='l-in__back'
        />
        <category-dropdown
          class="l-in__category u-mt-pc-5"
          :categories="allCategories"
          :selected-category="selectedCategory"
          @update:value="newValue => selectedCategory = newValue"
        />
        <tag-list
          :tags="tagList"
          :selected-tags="selectedTags"
          @on-click="toggleTagFilter"
          class="l-in__tag u-mt-pc-5"
        />
      </div>
      <div class="l-in__content u-pt-sp-45 u-pt-pc-98 u-pb-pc-32">
        <finder-detail-info
          :info="detail"
        />
        <LineSeparator />
        <finder-content-list
          :contents="filteredArray"
          @on-hover="updateDetailInfo"
        />
      </div>
    </div>
  </div>
</Layout>

<script>
  // import "@scripts/page/works"
</script>
