---
import FinderItemFolder from '@components/FinderItemFolder.astro';
import FinderItemFile from '@components/FinderItemFile.astro';
import Layout from '@layouts/Layout.astro';
---

<Layout>
	<div class="l-sp-inner l-pc-inner">
		<ul class="finder">
			<FinderItemFolder
				title="Works"
				date='2023.08.30'
				href='/works/'
			/>
			<FinderItemFile
				title="CV.txt"
				date='2023.08.30'
				type="text"
				href="dksja"
			/>
			<FinderItemFolder
				title="Skills"
				date='2023.08.30'
				href='/skills/'
			/>
		</ul>
	</div>
</Layout>

<style lang="scss">
	@use 'sass:math';
  @use "@styles/global/" as *;

	.finder {
		display: grid;
		grid-template-columns: 1fr 1fr;

		@include pc {
			grid-template-columns: repeat(auto-fit, minmax(250px, 20%));
		}
	}
</style>
