---
import FinderItemFolder from "@components/FinderItemFolder.astro";
import FinderItemFile from "@components/FinderItemFile.astro";
import Layout from "@layouts/Layout.astro";
import ViewModeChanger from "@components/ViewModeChanger.astro";
---

<Layout>
  <div data-barba="container" data-barba-namespace="top">
    <div
      class="contents l-sp-inner l-pc-inner u-pt-sp-80 u-pb-sp-82 u-pt-pc-100"
    >
      <div class="view-changer">
        <ViewModeChanger />
      </div>
      <ul class="finder u-mt-sp-17">
        <li class="finder__item">
          <FinderItemFolder
            title="Works"
            date="2023.08.30"
            href="/works/"
            type="folder"
          />
        </li>
        <!-- <li class="finder__item">
          <FinderItemFolder
            title="Skills"
            date="2023.08.30"
            href="/skills/"
            type="folder"
          />
        </li> -->
        <li class="finder__item">
          <FinderItemFile title="About.txt" date="2023.09.25" type="text">
            2月28日、神奈川生まれ。大学時代、ZINEという自由度の高い冊子制作に出会い、形になる表現やクリエイティブなものづくりの魅力に目覚めました。<br
            />
            その延長で紙媒体のお仕事に携わりたいと考えましたが、Webが持つ未来の可能性や表現の幅の広さに魅力を感じ、この世界へ飛び込むことを決意します。<br
            />
            <br />
            「別になくてもいいけど、あったらもっといいよね」という小さな驚きや楽しさにワクワクします。<br
            />
            具体的にWebで言ったら、アニメーション演出やユーザーアクションによって生み出される仕掛けなど。必須ではない要素こそ、人の心や行動を動かすものだと信じながら、こだわりを持って技術的な挑戦を楽しんでいます。<br
            />
            <br />
            好きなWebサイト：<br />
            <a
              href="https://saiyo.sme.co.jp/graduate/18/"
              target="_blank"
              rel="noopener noreferrer"
              >ソニーミュージックグループ新卒採用2018</a
            > （心高鳴る仕掛けが盛りだくさんです）<br />
            <a
              href="https://saiyo.sme.co.jp/graduate/19/"
              target="_blank"
              rel="noopener noreferrer"
              >ソニーミュージック新卒採用2019＜世界を君がおもしろくするんだ＞</a
            > （ぜひ、ページのソースを表示してみてください）<br />
            <a
              href="https://www.featuredprojects.jp/"
              target="_blank"
              rel="noopener noreferrer"
              >Featured Projects 2023 | よいものづくりは、明日を拓く</a
            > （サイト上にメモや落書きができる仕掛けが面白いです）<br />
            <a
              href="https://www.otsuka.co.jp/cmt/to_programmer/"
              target="_blank"
              rel="noopener noreferrer">CalorieMate to Programmer</a
            > （コマンドを入力することで操作するCUIモードなど、プログラマーの心くすぐる演出が散りばめられていて大好きなプロモーションです）
          </FinderItemFile>
        </li>
        <li class="finder__item">
          <FinderItemFile title="CV.txt" date="2023.0.25" type="text">
            ■勤務先企業名<br />
            株式会社Relic<br />
            ■業種<br />
            IT、通信、インターネット<br />
            ■雇用形態<br />
            契約社員→業務委託<br />
            ■従業員数<br />
            300名<br />
            ■勤務期間<br />
            契約社員：2022/12〜2023/05<br />
            業務委託：2023/06〜現在も在籍中<br />
            ■職務内容<br />
            2023年06月〜<br />
            ■Webサイトの実装・コーディング<br />
            【仕事内容】<br />
            社内外のWeb制作案件を担当しています。具体的な案件としては、新規LP実装、コーポレートサイトの運用やリブランディング、クライアント向けの特定プロジェクト対応など多岐にわたります。また、デザイン会社との連携を更に強化するための協議やMTGも行っています。担当領域としては、演出の提案やデザインカンプからのコーディング、WordPressの構築、レベルAAの達成基準に沿ったアクセシビリティ対応などを行っています。<br
            />
            【開発環境】<br />
            Javascript、HTML、PHP、Dart Scss、webpack、Vue.js、Next.js、Gatsby.js、Git、WordPress<br
            />
            =================================<br />
            2022年12月〜2023年5月<br />
            ■がん経験者コミュニティサイトのフロントエンド担当<br />
            【仕事内容】<br />
            定期的にクライアントとのヒアリングを行い要望を把握し、UI/UXの改修や機能追加の提案・実装を行いました。<br
            />
            【開発環境】<br />
            Vue.js、Vuex、Javascript、Dart Scss、PHP、Laravel、Docker、Akamai<br
            />
            =================================<br />
            2023年1月〜2月<br />
            ■自社コーポレートサイトのリプレイス<br />
            【仕事内容】<br />
            Wordpressで管理している自社のHPをNext.jsでリプレイスするプロジェクトに参画しました。ただリプレイスするだけでなく、セマンティックなHTMLの見直しやアクセシビリティの対応など、ユーザーが快適に操作できる使いやすいサイトになることを目指しました。<br
            />
            【開発環境】<br />
            Next.js、React.js、TypeScript、CSS in JS<br />
            =================================<br />
            2023年2月〜4月<br />
            ■新規事業検証におけるECサイト開発支援<br />
            【仕事内容】<br />
            特性(障がい)を持ったお子さま向けの事業立ち上げにおいて、実際にサービスの需要性を検証するためにShopifyを用いたECサイトの開発支援を行いました。更新性の高いECサイトの設計提案やコンバージョン率をあげるための導線提案、実装まで担当しました。<br
            />
            【開発環境】<br />
            Shopify CLI、Liquid、JavaScript、Scss、HTML、webpack、Node.js
          </FinderItemFile>
        </li>
        <li class="finder__item">
          <FinderItemFile
            title="resume.json"
            date="2023.08.30"
            type="json"
            href="https://github.com/5ma/komakine-portfolio/blob/main/public/assets/json/resume.json"
          />
        </li>
        <li class="finder__item">
          <FinderItemFolder
            title="iTunes Playlist"
            date="2023.08.30"
            type="playlist"
          />
        </li>
        <li class="finder__item">
          <FinderItemFile title="information.txt" date="2023.09.25" type="text">
            ■ポートフォリオサイトデザイン依頼時のfigma<br>
            <a href="https://www.figma.com/file/svwTLIA5K6QDldZaJJEBi9/portfilio-site?type=design&node-id=0%3A1&mode=design&t=8W7hWDsm0lJQJe9a-1" target="_blank" rel="noopener noreferrer">https://www.figma.com/file/svwTLIA5K6QDldZaJJEBi9/portfilio-site?type=design&node-id=0%3A1&mode=design&t=8W7hWDsm0lJQJe9a-1</a><br>
            ■Gitリポジトリ<br>
            <a href="https://github.com/5ma/komakine-portfolio/tree/main" target="_blank" rel="noopener noreferrer">https://github.com/5ma/komakine-portfolio/tree/main</a><br>
            ■Director<br>
            Anna Komakine<br>
            ■Designer<br>
            Erika Masato<br>
            ■Developer<br>
            Anna Komakine
          </FinderItemFile>
        </li>
      </ul>
    </div>
    <div id="v-modal">
      <finder-modal></finder-modal>
    </div>
  </div>
</Layout>

<style lang="scss">
  @use "sass:math";
  @use "@styles/global/" as *;

  .contents {
    position: relative;
  }

  .view-changer {
    width: fit-content;
    margin-left: auto;

    @include pc {
      position: absolute;
      bottom: calc(100% - 5px);
      right: 0;
    }
  }

  .finder {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4px 0;

    @include pc {
      gap: 60px percentage(math.div(47.5, 1240));
      grid-template-columns: repeat(
        auto-fit,
        minmax(170px, percentage(math.div(210, 1240)))
      );
      // grid-template-columns: repeat(auto-fit, minmax(170px, min(percentage(math.div(210, 1240)), 216px * 1.65)));
      padding-bottom: 196px;
    }

    :global(#{$listViewMode}) & {
      display: block;
    }

    &__item {
      position: relative;
      &:not(:last-of-type) {
        &::after {
          :global(#{$listViewMode}) & {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            content: "";
            border-bottom: 1px solid var(--color-theme-current);
            box-sizing: border-box;
          }
        }
      }
    }
  }
</style>
