---
interface Props {
  class?: string
}

const { class: className } = Astro.props
---

<label class:list={["dropdown", className]} v-show="allCategories.length">
  <span class="dropdown__label">Category</span>
  <div class="dropdown__wrapper">
    <select class="dropdown__select" v-model="selectedCategory" data-category-select>
      <optgroup>
        <option value="all">all</option>
        <option
          v-for="category in allCategories"
          :key="category"
          class="dropdown__option"
          :value="category"
          is:raw
        >
          {{ category }}
        </option>
      </optgroup>
    </select>
  </div>
</label>

<style lang="scss">
  @use 'sass:math';
  @use "@styles/global/" as *;

  .dropdown {
    display: block;

    &__label {
      display: block;
      font-size: px-to-rem(9);
      font-weight: 600;
      text-align: right;
      text-transform: uppercase;

      @include pc {
        font-size: px-to-rem(12);
        letter-spacing: 0.03em;
      }
    }

    &__wrapper {
      position: relative;
      margin-top: 1px;

      @include pc {
        margin-top: 2px;
      }

      &::after {
        position: absolute;
        top: 50%;
        right: 5px;
        width: 7px;
        height: 6px;
        content: '';
        background-color: var(--color-theme-current);
        transform: translateY(-50%);
        clip-path: polygon(50% 100%, 0 0, 100% 0);

        @include pc {
          right: 10px;
          width: 10px;
          height: 9px;
        }
      }
    }

    &__select {
      appearance: none;
      display: block;
      width: 100%;
      padding: 5px 21px 5px 4px;
      font-family: inherit;
      font-size: px-to-rem(13);
      border: 0;
      border-bottom: 1px solid var(--color-theme-current);
      background: none;
      cursor: pointer;

      @include pc {
        padding: 5px 30px 5px 10px;
        font-size: px-to-rem(18);
      }
    }
  }
</style>