---
---

<button
  type="button"
  class="button"
  data-color-change="button"
  aria-label="サイトのテーマカラー自動切り替えをストップする"
>
  <svg class="svg" viewBox="0 0 108 108">
    <circle class="svg__circle" cx="54" cy="54" r="50" data-color-change="circle" />
  </svg>
</button>

<style lang="scss">
  @use 'sass:math';
  @use "@styles/global/" as *;

  .button {
    position: relative;
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0;
    margin: 0;
    background: none;
    scale: 1;
    rotate: -90deg;

    &:not(:disabled),
    &:not([aria-disabled="true"]) {
      cursor: pointer;
    }

    &.is-reset {
      scale: 1 -1;
    }
  }

  .svg {
    $_this: &;
    &__circle {
      fill: transparent;
      stroke: var(--color-theme-current);
      stroke-width: 8;
      stroke-dasharray: 314 314;
      transition: stroke cubic-bezier(0.83, 0, 0.17, 1) 1s;

      [data-color-change="button"].is-reset & {
        stroke-dasharray: 0 314 !important;
        transition: cubic-bezier(0.83, 0, 0.17, 1) 1s .05s;
        transition-property: stroke-dasharray, stroke;
      }
    }
  }
</style>