---
---

<div class="detail">
  <h2>Information</h2>
</div>

<style lang="scss">
  @use 'sass:math';
  @use "@styles/global/" as *;

  .detail {
    display: none;
    border-right: 1px solid var(--color-white);

    @include pc {
      display: block;
      @include hover {
      }
    }
  }
</style>