---
import '@fontsource-variable/inter';
import '@fontsource/zen-kaku-gothic-new';
import '@styles/foundation/_index.scss';
import Header from '@components/global/Header.astro';
import Footer from '@components/global/Footer.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="format-detection" content="telephone=no">
		<meta name="robots" content="noindex" />
		<title>{title}</title>
		<meta name="description" content="Astro description">
		<meta name="theme-color" content="#000000">
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	</head>
	<body>
		<Header />
		<slot />
		<Footer />
	</body>
</html>